.idea
idea
.vscode

db.sqlite3

venv

nginx

media/**
static/admin
static/drf-yasg
static/rest_framework

docker-compose.prod.yml
Dockerfile.prod
entrypoint.prod.sh
local_settings.py
.env.dev
.env.db

**/migrations/**
!**/migrations
!**/migrations/__init__.py

__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc

